form {
    margin: 2px;
    padding: 5px;
    font-family: Arial;
    font-size: 12px;
}

form label, form input, form small{
    display: inline-block;
    float: left;
    margin: 5px;
}

form button {
    color: white;
    background-color: blue;
    border-radius: 25px;
    margin: auto;
    padding: 5px;

}

form legend{
    font-size: 16px;
    font-width: bold;
}