
* {
  margin: 0px;
  padding: 0px;
  --colorHover: #70a0af;
  --colorTitulo: #11b5e4;
  --colorMenu: #1481ba;

}

#button {
    list-style-type: none;
    background-color: var(--colorMenu);
    overflow: hidden;
    width: 100%;

}

li {
    float: left;
    width: 20%;
    text-decoration: none;
}

li a{
    display: block;
    padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: Arial;
  //text-decoration: none;
}

 li a:hover{
  background-color: var(--colorHover);
}


p{
     font-size: 12px;
}

img{
    float: left;
    height: 100px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--colorMenu);
  font-family: Arial;
  padding: 5px;
}

section {
  width: 100%;
  display: inline-block;
  border-style: 1px solid black;
  margin-top: 20px;
}

article {
  width: 50%;
  float: left;
  margin-top:  20px;
}

h1{
    margin: 2px;
    padding: 20px 0px 0px;
    font-size-adjust: initial;
    font-size: 50px;
}

h2 {
  display:block;
}

header {
text-align: center;
font-family: Arial;
    background-color: white;
    color: var(--colorTitulo);
}
