
* {
  margin: 0px;
  padding: 0px;
  --colorHover: #70a0af;
  --colorTitulo: #11b5e4;
  --colorMenu: #1481ba;
  font-family: Arial;
  list-style-type: none;
  text-decoration: none;
}

img#logo {
    width: 100%;
    height: auto;
    margin: 30px 20px;
}

footer {
  position: fixed;
  //display: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--colorMenu);
  padding: 5px;
  margin-top: 5px;
}

nav{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    //position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: var(--colorMenu);
}

li a{
    display: block;
    padding: 10px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  float: left;
  font-family: Arial;
}


li {
    float: left;
    width: auto;
}

div#menu{
    color: white;
    width: 80%;
}

div#menu a{
    color: white;
    //width: 90%;
}

/*main{
    display: block;
}*/

a.brand{
    color: white;
    text-decoration: none;
    list-style: white;
    font-size: 22px;
    padding: 5px 10px;
    width: 10%;
    text-align: center;
}

article {
  width: 75%;
  height: 100%;
  display: block;
  //float: left;
  margin: 20px auto;
}

.pos-right{
    float: right;
    //display: absolute;
    right: 0px;
    //margin-right: -20px;
}

footer a {
  color: #fff;
  //width: 50px;
  margin: 0px 5%;
}

footer a:hover{
  color: yellow;
}

h4 {
  margin-bottom: 5px;
}

